.agentdynex .MuiTypography-root {
  font-family: "Helvetica Neue" !important;
}

.agentdynex h4 {
  color: #9d5ba3;
  font-weight: 550 !important;
}

.agentdynex h2 {
  color: #9d5ba3;
  font-weight: 550 !important;
}
.agentdynex h2:hover {
  color: #9d5ba3;
}

.agentdynex h3 {
  color: #9d5ba3;
  font-weight: 700 !important;
}

.agentdynex h5 {
  color: #9d5ba3;
  font-weight: 550 !important;
}
.agentdynex h5:hover {
  color: #474e4a;
}

.agentdynex h6 {
  color: #474e4a;
  font-weight: 550 !important;
}

.agentdynex .link {
  color: #9d5ba3;
  font-weight: 550 !important;
  text-decoration: none;
}
.agentdynex .link:hover {
  color: #f1f1f1;
}

.agentdynex .MuiButton-root {
  display: flex;
  height: 32px;
  background-color: transparent !important;
  border: 2px solid #9d5ba3 !important;
  border-radius: 0 !important;
  color: #9d5ba3 !important;
  font-weight: 550 !important;
}

.agentdynex .MuiButton-root:hover {
  background-color: #9d5ba3 !important;
}
