body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffcef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --light-green: #6dad85;
}

h4 {
  color: #6dad85;
  font-weight: 550 !important;
  font-border: 2px solid #aaeaff;
}

h2 {
  color: #6dad85;
  font-weight: 550 !important;
}
h2:hover {
  color: #aaeaff #498f63;
}

h5 {
  color: #6dad85;
  font-weight: 550 !important;
}
h5:hover {
  color: #498f63;
}

h6 {
  color: #6dad85;
  font-weight: 550 !important;
}

.link {
  color: #6eab84;
  font-weight: 550 !important;
  text-decoration: none;
}
.link:hover {
  color: #aaeaff #498f63;
}

.important-text {
  font-weight: 550 !important;
}

.MuiButton-root {
  display: flex;
  height: 32px;
  background-color: "transparent" !important;
  border: 2px solid #6eab84 !important;
  border-radius: 0 !important;
  color: #6dad85 !important;
  text-transform: lowercase !important;
  font-weight: 550 !important;
}

.MuiButton-root:hover {
  background-color: #aaeaff !important ; /*#6eab84 !important;*/
  color: white !important;
}

.MuiTypography-root {
  font-family: "Helvetica Neue", "Courier", Times, monospace !important;
}
